body {
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 2rem;
  background: -webkit-linear-gradient(rgba(0,100,200,.05) 1px, white 1px);
  background-repeat: repeat;
  background-size: 1rem 1rem;
  margin: 1rem;
}
h1 {
  font-family: inherit;
  font-weight: 700;
  font-style: inherit;
  font-size: 4.25rem;
  line-height: 6rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
  text-align: center;
}
h2 {
  font-family: inherit;
  font-weight: 700;
  font-style: inherit;
  font-size: 2.625rem;
  line-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.625rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
  }
h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  /*margin-bottom: 2rem;*/
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: none;
  border-top: 1px solid;
  margin-top: -1px !important;
}
b, strong, em, small, code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
main *:not(figure) {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

figure {
  margin: 2rem auto;
  border-bottom: 1px solid #e3e3e3;
}

figcaption {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.625rem;
  line-height: 2rem;
  text-align: center;
}

figure img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

