.page--about-index {
  #about {
    @include fbs;
    background-image: url(/img/about-header.jpg);
    background-size: contain;
    background-position: left bottom;
    .post-content {
      > * { padding-left: 20%; }
    }
    .post-header {
      display: none;
    }
  }
  #the-problem {
    .post-content h2 { color: white; }
    background-color: #c1c0c5;
    background-image: url(/img/problem-skyline.jpg);
    background-position: left top;
    background-size: auto 400px;
    background-repeat: repeat-x;
    .post-header {
      margin-bottom: 4rem;
      padding-top: 3em;
    }
  }

  #our-mission {
    background-color: #6e65ff;
    @include linear-gradient(top,  #6c1974 0%,#662591 50%,#5f33b4 75%,#6e65ff 100%);
    overflow: hidden;
    .post-content {
      padding-top: 2em;
      padding-bottom: 13em;
    }

    img {
      position: absolute;
      left: -100px;
      bottom: 0;
      margin: 0;
      height: auto;
      width: 600px;
      min-width: 375px;
      z-index: 1;
    }
  }
}
@media (min-width: 780px) {
  .page--about-index {
    #about {
      .post-content > * { padding-left: 30%; }
      background-image: url(/img/about-header-xl.jpg);
      background-position: -300px bottom;
    }
    #the-problem {
      ol { height: 23rem; padding-left:2.75rem}
    }
  }
}
@media (min-width: 1024px) {
  .page--about-index {
    #about {
      background-image: url(/img/about-header-xl.jpg);
      background-position: calc(50% - 180px) bottom;
      .post-content > * { padding-left: 50%; }
    }
    #our-mission {
      .article-content {
        padding-bottom: 13em;
      }
    }
  }
}
@media (min-width: 1280px) {
  .page--about-index {
    #our-mission {
      img {
        left: 50%;
        margin-left: -720px;
      }
    }
  }
}
