.page--about-index {
  #about {
    @include fbs;
    background-image: url(/img/about-header.jpg);
    background-size: contain;
    background-position: -20% 100%;
    .article-content {
      > * { padding-left: 20%; }
    }
    .article-header {
      display: none;
    }
  }
  #the-problem {
    .article-content h2 { color: white; }
    background-color: #c1c0c5;
    background-image: url(/img/problem-skyline.jpg);
    background-position: left top;
    background-size: auto 262px;
    background-repeat: repeat-x;
    .article-header {
      margin-bottom: 4rem;
    }
  }

  #our-mission {
    background-color: #6e65ff;
    @include linear-gradient(top,  #6c1974 0%,#662591 50%,#5f33b4 75%,#6e65ff 100%);
    overflow: hidden;
    .article-content {
      padding-top: 2em;
      padding-bottom: 10em;
    }
    img {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      height: 246px;
      width: 375px;
      min-width: 375px;
    }
  }
}
@media (min-width: 780px) {
  .page--about-index {
    #about {
      .article-content > * { padding-left: 30%; }
      background-image: url(/img/about-header-xl.jpg);
      background-position: -100px bottom;
    }
    #the-problem {
      ol { height: 20rem; }
    }
  }
}
@media (min-width: 1024px) {
  .page--about-index {
    #about {
      background-image: url(/img/about-header-xl.jpg);
      background-position: calc(50% - 140px) bottom;
      .article-content > * { padding-left: 50%; }
    }
    #our-mission {
      .article-content {
        padding-bottom: 6em;
      }
    }
  }
}
@media (min-width: 1280px) {
  .page--about-index {
    #our-mission {
      img {
        left: 50%;
        margin-left: -720px;
      }
    }
  }
}
