.page--index {
  .article-header { display: none; }
  /*#the-container .primary-nav .minichimp {*/
    /*display: none;*/
  /*}*/
  // Top section, i.e. IMAGINE IF EVERYONE GREW UP
  #about {
    font-weight: 600;
  }
  #imagine {
    @include fbs;
    background-color: white;
    background-image: url(/img/imagine-background.jpg);
    background-position: right top;
    padding-left: 30%;
    h1 {
      @include replace-text;
      background-image: url(/img/imagine.png);
      padding-bottom: 56.25%;
    }
    .prose {
      max-width: 360px;
    }
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      list-style: none;
      font-size: 2em;
      text-align: center;
      white-space: nowrap;
    }
    li:not(:first-child) {
      display: none;
    }
  }
}
@media (min-width: 640px) {
  .page--index {
    #imagine {
      padding-left: 50%;
      background-image: url(/img/imagine-lg.jpg);
      .prose {
        margin: 0;
      }
    }
    #about {
      p {
        font-size: 1.5em;
      }
    }
  }
}
@media (min-width: 1024px) {
  .page--index #imagine {
    background-image: url(/img/imagine-xl.jpg);
    background-position: left top;
      background-size: auto 130%;
  }
}
@media (min-width: 1280px) {
  .page--index {
    #imagine {
      background-size: auto 140%;
    }
  }
}
