.page--index {
  .post-header { display: none; }
  #the-container .primary-nav .minichimp {
    display: none;
  }
  // Top section, i.e. IMAGINE IF EVERYONE GREW UP
  #imagine {
    @include fbs;
    background-color: white;
    background-image: url(/img/imagine-background.jpg);
    background-position: center top;
    background-size: 100% auto;
    @include background-image(linear-gradient(rgba(255,255,255,0) 30%, rgba(255,255,255,1) 50%),url(/img/imagine-background.jpg));
    padding-top: 16em;
    input.email {
      background-color: $base-border-color;
    }
    h1, h2, h3, h4 {
      margin: 0;
    }
    .post-content {
      max-width: 320px;
    }
    ul {
      list-style: none;
      margin: -1em auto 2em;
      border-bottom: .25rem solid $base-font-color;
    }
    li {
      list-style: none;
      font-size: 4em;
      white-space: nowrap;
      font-family: 'have_heart';
      font-style: italic;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      text-transform: uppercase;
      text-indent: .5ch;
      -webkit-font-smoothing: antialiased;
      color: $purple;
    }
    li {
      display: none;
    }
    li:first-child {
      display: block;
      @include animation(fadeIn .5s);
    }
    .minichimp { margin-left: 0; }
  }
  #about {
    font-weight: 800;
    font-size: 1.5em;
    overflow: hidden;
    @include fbs;
    background-image: url(/img/homepage-about-bg.jpg);
    background-position: center bottom;
  }
  #partners {
    text-align: center;
    h3 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    ul {
      margin: 0 auto;
      @include clearfix;
      list-style: none;
    }
    li {
      margin: 0;
      float: left;
      width: 25%;
      box-sizing: border-box;
      padding: .5em;
      img {
        width: 100%;
        height: 100%;
        max-width: 6em;
        max-height: 6em;
      }
    }
  }
  #press {
    background-image: url(/img/homepage-press-bg.jpg);
    padding-top: 62%;
    background-size: 100% auto;
    background-position: center top;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    .post-content {
      max-width: 70ch;
    }
    ul { margin: 0; list-style: none; }
    blockquote {
      font-size: 1.5em;
    }
    li {
      margin-bottom: 2em;
      &:last-child { margin-bottom: 0; }
    }
    li > p:last-child {
      text-transform: uppercase;
      color: $all-caps-grey;
    }
    &.rotating {
      ul {
        height: 9em;
      }
      li {
        display: none;
        @include animation(fadeIn .5s);
      }
      li:first-child {
        display: block;
      }
    }
  }
}
@media (min-width: 480px) {
  .page--index {
    #imagine {
      .post-content {
        max-width: 480px;
      }
      li { font-size: 5em; }
    }
  }
}
@media (min-width: 640px) {
  .page--index {
    #imagine {
      padding-left: 30%;
      padding-top: 6em;
      background-image: url(/img/imagine-lg.jpg);
      background-size: auto 100%;
      background-position: left top;
      .post-content {
        margin: 0;
      }
    }
    #about {
      p {
        font-size: 1.5em;
      }
    }
    #press {
      background-image: url(/img/homepage-press-bg-xl.jpg);
    }
  }
}
@media (min-width: 1024px) {
  .page--index #imagine {
    padding-left: 50%;
    background-image: url(/img/imagine-xl.jpg);
    background-position: left top;
    background-size: auto 110%;
  }
  .page--index {
    #partners {
      li {
        width: 20%;
      }
    }
  }
}
@media (min-width: 1300px) {
  .page--index {
    #imagine {
      background-image: url(/img/homepage-header-xl.jpg);
      background-position: calc(50% - 220px) top;
    }
    #press {
      padding-top: 800px;
      @include background-image(linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%), url(/img/homepage-press-bg-xl.jpg));
      background-size: 1280px auto;
    }
  }
}
