.page--program-index {
  .article--lede {
    @include fbs;
    background-color: black;
    background-image: url(/img/program-header.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-image: url(/img/program-header.jpg);
    padding-top: 6em;
  }
}

@media (min-width: 780px) {
  .page--program-index {
    .article#the-dream-director {
      .article-header { display: none; }
      img { display: none; }
      @include fbs;
      background-image: url(/img/divine-dd-background-xl.jpg);
      background-position: calc(50% - 200px) bottom;
      background-size: auto 100%;
      .prose {
        max-width: 1280px;
        * { padding-left: 50%; }
      }
    }
  }
}
@media (min-width: 1024px) {
  .page--program-index {
    .article--lede {
      padding-top: 8em;
      background-size: auto 100%;
      background-position: calc(50% - 160px) top;
      .article-lede-content {
        display: table;
        table-layout: fixed;
      }
      .prose, .article-nav {
        vertical-align: top;
        display: table-cell;
        width: 50%;
        margin: 0;
        box-sizing: border-box;
      }
      .prose {
        padding-right: 1em;
      }
      .article-nav {
        padding-left: 1em;
      }
    }
    .article#the-dream-director {
      padding-top: 6em;
    }
  }
}
