.page--program {
  .post-nav-item--the-method-part-ii {
    display: none;
  }
  .post-nav-item--the-method .post-nav-item-icon { background-image: url(/img/program-icon-method.svg); }
  .post-nav-item--research .post-nav-item-icon { background-image: url(/img/program-icon-research.svg); }
  .post-nav-item--results .post-nav-item-icon { background-image: url(/img/program-icon-results.svg); }
  .post-nav-item--schools .post-nav-item-icon { background-image: url(/img/program-icon-schools.svg); }
  .post-nav-item--inquire .post-nav-item-icon { background-image: url(/img/program-icon-inquire.svg); }
  .post--lede {
    @include fbs;
    background-color: black;
    background-size: 100% auto;
    background-position: center top;
    background-image: url(/img/program-header.jpg);
    @include background-image(linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 70%),url(/img/program-header.jpg));
    padding-top: 6em;
  }
  .post#the-method-part-ii {
    .post-header { display: none; }
    table {
      width: calc(100% + 2em);
      margin-left: -1em;
      text-align: center;
      margin-top: 10em;
    }
    td {
      padding-bottom: 2em;
      * {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
      }
      p { font-size: .75em; }
      img { max-width: 8em; }
    }
    thead th {
      img {
        width: 100%;
        max-width: 16em;
        margin-top: -5em;
      }
      &:nth-child(odd) {
        background: darken($base-border-color, 3%);
      }
      &:nth-child(even) {
        background: lighten($base-border-color, 3%);
      }
    }
    tbody th {
      position: relative;
      height: 0;
      padding: 0;
      display: block;
      width: 100%;
      * {
        position: absolute;
        top: 0;
        left: 100%;
        width: 8em;
        background: white;
        padding: .5em;
        box-sizing: border-box;
        margin-left: -4em;
        font-size: 1em;
      }
    }
  }
  .post#results {
    li {
      position: relative;
      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        width: 3em;
        height: 3em;
        margin: -.5em 0 0 -1.5em;
        background: $brand-yellow;
        z-index: 1;
        border-radius: 100%;
      }
    }
    h3 {
      position: relative;
      text-align: center;
      z-index: 2;
    }
    li {
      &:nth-child(3n-2):after { background: $brand-yellow; }
      &:nth-child(3n-1):after { background: $future-blue; }
      &:nth-child(3n):after { background: $medium-blue; }
    }
  }
  .post#schools {
    background-color: #c1c0c5;
    background-image: url(/img/problem-skyline.jpg);
    background-position: left top;
    background-size: auto 262px;
    background-repeat: repeat-x;
    .post-header {
      margin-bottom: 4rem;
    }
    h3 { color: white; }
    li {
      h6 { margin: 0; }
      text-align: left;
      background: $base-border-color;
      @include linear-gradient($base-border-color, darken($base-border-color, 5%));
      padding: 1rem;
    }
  }
}
@media (min-width: 640px) {
  .page--program {
    .post#the-method-part-ii {
      thead th img {
        margin-top: -8em;
      }
    }
  }
}

@media (min-width: 780px) {
  .page--program {
    .post--lede {
      background-image: url(/img/program-header.jpg);
    }
    .post#the-method {
      .post-header { display: none; }
      img { display: none; }
      @include fbs;
      background-image: url(/img/divine-dd-background-xl.jpg);
      background-position: calc(50% - 200px) bottom;
      background-size: auto 100%;
      .post-content {
        * { padding-left: 50%; }
      }
    }
    .post#the-method-part-ii {
      thead th {
        img {
          width: 100%;
          /*margin-top: -11em;*/
        }
      }
    }
    .post#results {
      h3 {
        margin-bottom: 1em;
        font-size: 2em;
      }
      li:after {
        height: 4em;
        width: 4em;
        margin: 0 0 0 -2em;
        left: 50%;
      }
    }
  }
}
@media (min-width: 1024px) {
  .page--program {
    .post--lede {
      padding-top: 8em;
      background-size: auto 100%;
      background-position: calc(50% - 160px) top;
      .post-lede-content {
        display: table;
        table-layout: fixed;
      }
      .post-page-summary, .post-nav {
        vertical-align: top;
        display: table-cell;
        width: 50%;
        margin: 0;
        box-sizing: border-box;
      }
      .post-page-summary {
        padding-right: 1em;
      }
      .post-nav {
        padding-left: 1em;
      }
    }
    .post#the-method {
      padding-top: 10em;
      background-size: auto 90%;
    }
    .post#the-method-part-ii {
      thead th img {
        max-width: 24em;
        margin-top: -11em;
      }
    }
    .post#results {
      li {
        h3 {
          font-size: 3em;
          letter-spacing: -.1em;
        }
      }
      li:after {
        margin-top: 0;
        height: 5em;
        width: 5em;
        margin-left: -2.5em;
      }
    }
    .post#research {
      .post-content {
        position: relative;
        > %headings, > p {
          max-width: 50%;
          padding-right: 2rem;
          box-sizing: border-box;
        }
      }
      .research-areas {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        margin: 0 !important;
      }
    }
  }
}
