---
title: Team
theme: white
---
<div class="article">

  <pre>
  name,portrait,team,role,vimeo_id,bio
  {% for person in site.categories.team reversed%}
  {{ person.name }},{{ person.portrait }},{{ person.team }},"{% if person.role %}{{ person.role | replace:'<br>',', ' | strip_html }} {% endif %}",{{ person.vimeo_id }},"{{person.content | strip_newlines | strip_html}}"
  {% endfor %}
  </pre>
</div>

<!--<article id="join-the-team" class='sized article-with-photo-l-r article-short article-photo-bigger'>-->
  <!--<h2>Join the Team</h2>-->
  <!--<p>It takes a great team to orchestrate change.<br>Ready to dream big?</p>-->
  <!--<p>-->
    <!--<a class='button' href="/jobs/">View Jobs</a>-->
  <!--</p>-->
  <!--<img src="/assets/images/team-andrew.jpg" alt="Join the Mission">-->
<!--</article>-->
