---
title: Team
---
<div class="post theme--white">
  {% include team-nav.html %}
</div>

{% for team in site.teams %}
<div class="post theme--white">
  <div class="team people" id="{{team[1].id}}">
    <div class='post-header'><h3>{{ team[1].label }}</h3></div>
    {% assign team_name = team[1].id %}{% include team.html %}
  </div>
</div>
{% endfor %}

<!--<article id="join-the-team" class='sized article-with-photo-l-r article-short article-photo-bigger'>-->
  <!--<h2>Join the Team</h2>-->
  <!--<p>It takes a great team to orchestrate change.<br>Ready to dream big?</p>-->
  <!--<p>-->
    <!--<a class='button' href="/jobs/">View Jobs</a>-->
  <!--</p>-->
  <!--<img src="/assets/images/team-andrew.jpg" alt="Join the Mission">-->
<!--</article>-->
