<article class="article centered theme--black" id="join-and-donate">
  <section class="prose">
    <h2 id="join-the-movement">Join the Movement</h2>
    {% include minichimp.html %}
    <hr>
    <h2 id="make-a-donation">Make a Donation</h2>
    <div>
      <a href="https://thefutureproject.giv.sh/d953?amount=50" class="btn">
        $50
      </a>
      <a href="https://thefutureproject.giv.sh/d953?amount=100" class="btn">
        $100
      </a>
      <a href="https://thefutureproject.giv.sh/d953?amount=250" class="btn">
        $250
      </a>
      <a href="https://thefutureproject.giv.sh/d953" class="btn">
        Other
      </a>
    </div>
  </section>
</article>
