<nav class="menu">
  <section class="menu-item">
    <a class='top-level-link {% if page.url contains 'about' %}active{% endif %}' href="/about">About</a>
    <ul class="sub-nav">
      {% for post in site.categories.about %}
        {% if forloop.first == false %}
        <li class='sub-nav-item'><a href="/about/#{{ post.title | slugify }}" class="{{ post.title | slugify }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item">
    <a class='top-level-link {% if page.url contains 'program' %}active{% endif %}' href="/program">Program</a>
    <ul class="sub-nav">
      {% for post in site.categories.program %}
        {% if forloop.first == false %}
        <li class='sub-nav-item {{ post.title | slugify }}'><a href="/program/#{{ post.title | slugify }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item team-menu-item">
    <a class='top-level-link {% if page.url contains 'team' %}active{% endif %}' href="/team">Team</a>
    <ul class="sub-nav team-menu-item">
      {% for team in site.teams %}
      <li class='sub-nav-item {{ team[1].id | slugify }}'><a href="/team/#{{ team[1].id | slugify }}">{{ team[1].label }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item stories-menu-item">
    <a class='top-level-link {% if page.url contains 'stories' %}active{% endif %}' href="/stories">Stories</a>
    <ul class="sub-nav team-menu-item">
      {% for post in site.categories.stories %}
        <li class='sub-nav-item'><a href="/stories/#{{ post.title | slugify }}" class="{{ post.title | slugify }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item get-involved-menu-item">
    <a class='top-level-link {% if page.url contains 'involved' %}active{% endif %}' href="#site-footer">Get Involved</a>
    <ul class="sub-nav">
      <li class="sub-nav-item">
        <a href="http://thefutureproject.applytojob.com/">Jobs</a>
      </li>
      <li class="sub-nav-item">
        <a href="https://thefutureproject.giv.sh/d953">Donate</a>
      </li>
    </ul>
  </section>
  <!--
  <section class="menu-item shop-menu-item">
    <a class='top-level-link {% if page.url contains 'shop' %}active{% endif %}' href="/shop">Shop</a>
  </section>
  -->
  <section class="menu-item social-menu-item">
    <div class='top-level-link'>Follow Us</div>
    <ul class="sub-nav">
      <li><a class="social-fb" href="https://www.facebook.com/tfpinspire">Facebook</a></li>
      <li><a class="social-tw" href="https://www.twitter.com/dreamdirectors">Twitter</a></li>
      <li><a class="social-insta" href="http://www.instagram.com/dreamdirectors">Instagram</a></li>
    </ul>
  </section>
</nav>
