<nav class="menu">
  <section class="menu-item">
    <a class='top-level-link' href="/about">About</a>
    <ul class="sub-nav">
      {% for post in site.categories.about %}
        {% if forloop.index0 != 0 %}
        <li class='sub-nav-item'><a href="/about/#about-{{ post.title | slugify }}" class="{{ post.status }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item">
    <a class='top-level-link' href="/program">Program</a>
    <ul class="sub-nav">
      <li><a href="#" class="unfinished">The Method</a></li>
      <li><a href="#" class="unfinished">Research</a></li>
      <li><a href="#" class="unfinished">Results</a></li>
      <li><a href="#" class="unfinished">Our Schools</a></li>
      <li><a href="#" class="unfinished">Inquire</a></li>
    </ul>
  </section>
  <section class="menu-item">
    <a class='top-level-link' href="/stories">Stories</a>
    <ul class="sub-nav">
      <li><a href="#" class="unfinished">Videos</a></li>
      <li><a href="#" class="unfinished">Photos</a></li>
      <li><a href="#" class="unfinished">Case Studies</a></li>
    </ul>
  </section>
  <section class="menu-item get-involved-menu-item">
    <a class='top-level-link' href="/get-involved">Get Involved</a>
    <ul class="sub-nav">
      <li><a href="#" class="unfinished">Share</a></li>
      <li><a href="#" class="unfinished">Invest</a></li>
      <li><a href="#" class="unfinished">Jobs</a></li>
      <li><a href="#" class="unfinished">Internships</a></li>
    </ul>
  </section>
  <section class="menu-item shop-menu-item">
    <a class='top-level-link' href="/shop">Shop</a>
  </section>
  <section class="menu-item social-menu-item">
    <div class='top-level-link'>Follow Us</div>
    <ul class="sub-nav">
      <li><a class="social-fb" href="https://www.facebook.com/tfpinspire">Facebook</a></li>
      <li><a class="social-tw" href="https://www.twitter.com/dreamdirectors">Twitter</a></li>
      <li><a class="social-insta" href="http://www.instagram.com/dreamdirectors">Instagram</a></li>
    </ul>
  </section>
</nav>
