<nav class="menu">
  <section class="menu-item">
    <a class='top-level-link {% if page.url contains 'about' %}active{% endif %}' href="/about">About</a>
    <ul class="sub-nav">
      {% for post in site.categories.about %}
        {% if forloop.first == false %}
        <li class='sub-nav-item'><a href="/about/#{{ post.title | slugify }}" class="{{ post.status }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item">
    <a class='top-level-link {% if page.url contains 'program' %}active{% endif %}' href="/program">Program</a>
    <ul class="sub-nav">
      {% for post in site.categories.program %}
        {% if forloop.first == false %}
        <li class='sub-nav-item'><a href="/program/#{{ post.title | slugify }}" class="{{ post.status }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item">
    <a class='top-level-link {% if page.url contains 'stories' %}active{% endif %}' href="/stories">Stories</a>
    <ul class="sub-nav">
      {% for post in site.categories.stories %}
        {% if forloop.first == false %}
        <li class='sub-nav-item'><a href="/stories/#{{ post.title | slugify }}" class="{{ post.status }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="menu-item get-involved-menu-item">
    <a class='top-level-link {% if page.url contains 'involved' %}active{% endif %}' href="/get_involved">Get Involved</a>
    <ul class="sub-nav">
      {% for post in site.categories.get_involved %}
        {% if forloop.first == false %}
        <li class='sub-nav-item'><a href="/get_involved/#{{ post.title | slugify }}" class="{{ post.status }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <!--
  <section class="menu-item shop-menu-item">
    <a class='top-level-link {% if page.url contains 'shop' %}active{% endif %}' href="/shop">Shop</a>
  </section>
  -->
  <section class="menu-item social-menu-item">
    <div class='top-level-link'>Follow Us</div>
    <ul class="sub-nav">
      <li><a class="social-fb" href="https://www.facebook.com/tfpinspire">Facebook</a></li>
      <li><a class="social-tw" href="https://www.twitter.com/dreamdirectors">Twitter</a></li>
      <li><a class="social-insta" href="http://www.instagram.com/dreamdirectors">Instagram</a></li>
    </ul>
  </section>
</nav>
