<nav class='primary-nav'>
  <section>
    <a class='top-level-link' href="/about">About</a>
    <ul class="sub-nav">
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
    </ul>
  </section>
  <section>
    <a class='top-level-link' href="/program">Program</a>
    <ul class="sub-nav">
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
    </ul>
  </section>
  <section>
    <a class='top-level-link' href="/stories">Stories</a>
    <ul class="sub-nav">
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
    </ul>
  </section>
  <section>
    <a class='top-level-link' href="/get-involved">Get Involved</a>
    <ul class="sub-nav">
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
    </ul>
  </section>
  <section>
    <a class='top-level-link' href="/shop">Shop</a>
    <ul class="sub-nav">
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
      <li><a href="#">Etc Etc</a></li>
    </ul>
  </section>
</nav>
