    {% include nav.html %}
    {% include footer.html %}

    </div>

    <link rel="stylesheet" href="//cloud.typography.com/7365874/729708/css/fonts.css" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/enhancements.js?v{{ site.time | date: '%m%d%y%H%M%S' }}"></script>
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35246062-1']);
    _gaq.push(['_setDomainName', 'thefutureproject.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </body>
</html>
