<div class='people'>
{% for person in site.data.team %}
  {% if person.team contains team_name %}
  <div id="person-{{ person.name | slugify }}" class="person {{ person.team }}{% if team != 'board' and team != 'advisors' %} expandable{% endif %}"{% if person.vimeo_id %} data-vimeo-id="{{ person.vimeo_id }}"{% endif %}>
    <a href="#person-{{ person.name | slugify }}" class='person-photos img-flip'>
      <img src="/img/team/team_{{ person.portrait }}_1.jpg" alt="{{ person.name }}" />
      <img src="/img/team/team_{{ person.portrait }}_2.jpg" alt="{{ person.name }}" />
    </a>
    <div class='person-name'>{{ person.name }}</div>
    <div class='person-role'>{{ person.role }}</div>
    <figure class="person-more">
      <div class="person-more-content">
        {{ person.bio | markdownify }}
      </div>
    </figure>
  </div>
  {% endif %}
{% endfor %}
{% assign team = nil %}
</div>
