.article {
  background-color: $base-border-color;
  @include linear-gradient(darken($base-border-color, 7%), $base-border-color);
  position: relative;
  padding: 3em 1em;
  line-height: 1.2;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.centered {
  text-align: center;
}
.article-copy {
  position: relative;
  z-index: 2;
  max-width: 65ch;
  margin: 0 auto;
}
.article-header {
  text-transform: uppercase;
  max-width: 1240px;
  margin: 0 auto;
  letter-spacing: 3px;
  text-align: left;
  * {
    font-size: 1em;
    display: inline-block;
    background: white;
    color: $base-font-color;
    padding: 1em 2em;
    margin-left: -1em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    line-height: 1;
  }
}
.article-headline {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}
.article-nav {
  text-align: center;
  margin: 2em auto 0;
  width: 100%;
  max-width: 65ch;
  @include clearfix;
}
.article-nav-item {
  display: block;
  width: 33.33333%;
  box-sizing: border-box;
  padding: .5em;
  font-weight: 600;
  color: white;
  float: left;
  margin-bottom: .5em;
}
.article-nav-item-icon {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  margin-bottom: 1em;
  background: white;
}
.article-nav-item-label {
  font-size: .75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-lede-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  @include clearfix;
}

@media(min-width: 780px) {
  .article:target {
    padding-top: 6em;
    .article-header * {
      @include animation(highlight 1s);
    }
  }
}

