.article {
  padding: 2em 1em;
  background-color: $base-border-color;
  line-height: 1.2;
  &.purple {
    background: $purple;
    color: white;
  }
}
.article-title {
  font-weight: 700;
  font-size: 1.5em;
}

