.article {
  position: relative;
  padding: 2em 1em;
  @include linear-gradient(transparent, rgba(0,0,0,.5));
  color: white;
  line-height: 1.2;
  &.purple {
    background: $purple;
    color: white;
  }
  p:not(:last-child) {
    margin: 1.2em 0;
  }
}
.article-title {
  font-weight: 700;
  font-size: 2em;
}
.article-content {
  h2 {
    font-size: 1.5em;
    font-weight: 700;
  }
}
.bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

