.btn {
  /*@extend input;*/
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: $future-blue;
  border-radius: $base-border-radius;
  color: white;
  @include transition(background 1s);
  &:hover {
    background-color: $hover-blue;
  }
}
.call-to-action {
  margin: 2em auto;
  text-align: center;
  .btn {
    padding: .5em;
  }
}
