$brand-blue: #06d0ff;
$brand-muted-blue: #10a0ff;
$brand-purple: #5e5dff;
$brand-yellow: #ffce00;
$brand-grey: #f0f0f0;
$brand-dark-purple: #2b2b35;

$base-border-color: $brand-grey;
$base-bold-color: black;
$base-font-family: sans-serif;
$base-border-radius: 0.3333333333em;

