$future-blue: #06d0ff;
$medium-blue: #129fff;
$dark-blue: #212e47;
$sky-blue: #b2e5fa;
$light-blue: #d4e6f4;
$purple: #5e5dff;
$text-blue: #15c8ff;
$hover-blue: #0064f4;
$brand-yellow: #ffce00;
$brand-grey: #f0f0f0;
$brand-black: #191919;
$brand-white: #fff;
$brand-green: #7ae0dd;
$all-caps-grey: #928d9b;

$base-border-color: $brand-grey;
$base-bold-color: black;
$base-font-family: 'Gotham A', 'Gotham B', verdana, sans-serif;
$base-font-color: $brand-black;
$base-border-radius: 0.3333333333em;
