.primary-footer {
  background: $dark-blue;
  @include linear-gradient(#2b2b35, $dark-blue);
  color: white;
  font-size: .8em;
  padding: 1em;
  .menu {
    @include clearfix;
    width: 100%;
    font-weight: 500;
    max-width: 1280px;
    margin: 0 auto;
  }
  .menu-item {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 1em .5em;
    max-height: 180px;
    overflow: auto;
    a {
      color: #8c92a8;
    }
    .top-level-link, a:hover {
      color: #dfe4ef;
    }
    .top-level-link {
      font-weight: 600;
      &:hover { color: white; }
    }
  }
  .shop-menu-item {
    display: none;
  }
  .sub-nav a {
    display: block;
    margin: .8em 0;
  }
  .team-menu-item {
    display: none;
  }
  .post.contact-callout {
    display: none;
    padding: 2em 1em;
    background: transparent;
  }
}

.post#join-and-donate {
  @include fbs;
  background-image: url(/img/join-and-donate.jpg);
  background-size: contain;
  background-position: calc(50% - 300px) bottom;
}
@media (min-width: 780px) {
  .post#join-and-donate {
    padding-left: 50%;
    .prose {
      margin: 0;
      max-width: 480px;
    }
  }
}
