.primary-footer {
  height: calc(100% - 500px);
  background: $dark-blue;
  color: white;
  font-size: .8em;
  padding: 1em;
  .menu {
    display: table;
    width: 100%;
    font-weight: 500;
  }
  .menu section:last-child {
    display: none;
  }
  a {
    color: #8c92a8;
  }
  .top-level-link, a:hover {
    color: #dfe4ef;
  }
  .sub-nav a {
    display: block;
    margin: .3333em 0;
  }
}
