#homepage-take-a-stand {
  padding-top: 10em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(/img/home/homepage-header.jpg);
}

