input, select, textarea, button {
  @include appearance(none);
  display: block;
  border: none;
  font-family: $base-font-family;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: .33333em;
  border-radius: 0;
  &:focus {
    outline: none;
  }
}

