body {
  padding-top: 9em;
}

.site-name {
  position: absolute;
  top: 3.5em;
  left: 0;
  height: 5em;
  width: 5em;
  overflow: hidden;
  text-indent: -9999em;
  background-size: contain;
  background-position: center center;
  background-image: url(/img/logo.png);
}

.primary-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
}
