html, body {
  height: 100%;
  background-color: $base-border-color;
}

#container {
  /*max-width: 680px;*/
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding-top: 60px;
  background: $dark-blue;
}
