.listicle.interactive {
  ol {
    margin: 0 auto;
    max-width: 950px;
    list-style: none;
    background: #f9f9f9;
    padding: 1em;
    box-shadow: 0 5px 10px rgba(0,0,0,.25);
    > li { display: none; }
    > li.active {
      display: block;
    }
  }
  ul {
    list-style: none;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  li {
    display: table-cell;
    vertical-align: top;
    font-size: .9em;
    text-align: left;
    padding-right: 1rem;
    img {
      width: 100%;
      max-width: 12rem;
    }
    h4 {
      line-height: 1.25;
      text-align: center;
      margin-bottom: 0px;
    }
    img {
      margin: .25em auto;
    }
  }
  nav {
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    color: $list-grey;
    * {
      display: inline-block;
      cursor: pointer;
      padding: 1.5rem 2rem;
    }
    .active { color: $list-black;}
  }
}
