.listicle.interactive {
  ol {
    margin: 0 auto;
    max-width: 780px;
    list-style: none;
    background: rgb(224,224,226);
    padding: 1em;
    box-shadow: 0 5px 10px rgba(0,0,0,.25);
    > li { display: none; }
    > li.active {
      display: block;
    }
  }
  ul {
    list-style: none;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  li {
    display: table-cell;
    vertical-align: top;
    font-size: .8em;
    text-align: left;
    padding-right: 1rem;
    img {
      width: 100%;
      max-width: 8rem;
    }
  }
  nav {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: $all-caps-grey;
    * {
      display: inline-block;
      cursor: pointer;
      padding: 1rem;
    }
    .active { color: $dark-blue; }
  }
}
