.minichimp {
  margin: 1em auto;
  max-width: 360px;
  @include clearfix;
  label, .hidden { display: none; }
  form {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  .fields {
    display: table-cell;
  }
  .email-field {
    width: 80%;
    input {
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius:  $base-border-radius;
    }
  }
  .action-field {
    width: 20%;
    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
