.minichimp {
  position: relative;
  label, .hidden { display: none; }
  .email-field {
    position: absolute;
    top: 0;
    left: 0;
    right: 20%;
    input {
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius:  $base-border-radius;
    }
  }
  .action-field {
    position: absolute;
    top: 0;
    left: 80%;
    right: 0;
    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}
