.people {
  @include clearfix;
  max-width: 1280px;
  margin: 0 auto;
}
.person {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1em;
  display: block;
  .person-more {
    display: none;
    position: absolute;
    left: 0;
    background: $sky-blue;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,.25);
    .person-more-content {
      max-width: 70ch;
      padding: 1em;
      margin: 0 auto;
      position: relative;
    }
  }
  &:target {
    .person-name { color: $future-blue; }
    .person-role { color: $sky-blue; }
    .person-more {
      display: block;
      /*@include animation (expand .5s);*/
      /*@include transform-origin(center top);*/
      z-index: 100;
    }
  }
  .img-flip {
    height: 0;
    padding-bottom: 72%;
  }
  .person-name {
    font-weight: 700;
    height: 1.2em;
    white-space: nowrap;
  }
  .person-role {
    @extend .caps;
    color: $all-caps-grey;
    height: 2.4em;
  }
  &.advisors:target:not(.leadership), &.board:target:not(.leadership) { .person-more { display: none; } }
  &.advisors, &.board {
    margin-bottom: 2em;
    .person-role {
      text-transform: none;
    }
  }
}
.team-nav {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  a {
    margin: .5em;
    @include transition(none);
  }
  .active {
    background-color: $future-blue;
    color: white;
  }
}
.person-video-player {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 780px) {
  .person {
    width: 33.3333333333333333333333333333%;
    padding: 3em .5em .5em;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .person {
    width: 25%;
  }
}

