.permalink {
  padding: 1em;
}
.permalink-text {
  max-width: 65ch;
  margin: 0 auto;
}
@media(min-width: 780px) {
  .permalink {
    display: table;
    margin: 0 auto;
    height: 100%;
    > * {
      vertical-align: middle;
      display: table-cell;
    }
  }
}
