.theme--light-blue {
  background: $light-blue;
  @include linear-gradient(darken($light-blue, 7%), $light-blue);
}
.theme--sky-blue {
  background: $sky-blue;
  @include linear-gradient(darken($sky-blue, 7%), $sky-blue);
}
.theme--purple {
  background: $purple;
  @include linear-gradient(darken($purple, 7%), $purple);
  color: white;
  a { color: white; }
}
.theme--green {
  background: $brand-green;
  @include linear-gradient(darken($brand-green, 7%), $brand-green);
  a { color: white; }
}
.theme--medium-blue {
  background-color: $medium-blue;
  @include linear-gradient(darken($medium-blue, 7%), $medium-blue);
  color: white;
}
.theme--future-blue {
  background: $future-blue;
  color: white;
}
.theme--grey-blue {
  background: #64cbec;
  color: white;
}
.theme--black {
  background-color: black;
  @include linear-gradient(black, black);
  color: white;
}
.theme--white {
  background-color: white;
  @include linear-gradient($base-border-color 0px, white 6em);
}
.theme--grey {
  background-color: #C0C0C4;
  @include linear-gradient(#928D9B 0px, #C0C0C4 400px);
}
.wide {
  .prose {
    max-width: 100%;
  }
}
