.bg--grey {
  background-color: #e0e0e0;
  color: $base-font-color;
}
.bg--purple {
  background-color: $purple;
  color: white;
}
.bg--light-blue {
  background-color: #d4e6f4;
  color: $base-font-color;
}
.bg--blue {
  background-color: $medium-blue;
  color: white;
}
