@font-face {
    font-family: 'have_heart';
    src: url('/img/have_heart_two-webfont.woff2') format('woff2'),
         url('/img/have_heart_two-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
body {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: 400;
  color: $base-font-color;
}
@media (min-width: 480px) {
  body {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
hr {
  height: 0;
  border: none;
  border-top: 1px solid rgba(255,255,255,.5);
  margin: 2em auto;
}

.caps {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: -.05em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin-bottom: 1.2rem;
  line-height: 1.05;
  @extend %headings;
}
h1 { font-size: 2.7em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.66667em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }


@media(min-width: 780px) {
  *:target {
    padding-top: 6em;
  }
}

