{% include site-header.html %}
  <div class="case-study">
    <article>
    <header>
      <h1>{{ page.title }}</h1>
      <img src="{{ page.banner }}" alt="{{ page.title }}" />
    </header>
    <section>
      {{ page.content | markdownify }}
      {% if page.media %}
        {% if page.media.type == 'video' %}
          <div class="video">
            <div class="video-player">
              <iframe src="{{ page.media.link }}" seamless/></iframe>
            </div>
          </div>
        {% elsif page.media.type == 'link' %}
          <h3>Project Link:</h3>
          <p><a href="{{ page.media.link }}">{{ page.media.link }}</a></p>
        {% endif %}
      {% endif %}
    </section>
    <aside>
      <ul>
        <li class="case-study-person-info">
          <h3>{{ page.title }}</h3>
          <p>{{ page.person_role }}</p>
        </li>
        {% if page.project_name %}
        <li class="case-study-project-info">
          <label>Project</label>
          <h3>{{ page.project_name }}</h3>
          <p>{{ page.project_description }}</p>
        </li>
        {% endif %}
        {% if page.quotes %}
        <li class="case-study-quotes">
          <label>Quotes</label>
          {% for quote in page.quotes %}
            <h6>{{ quote.label }}:</h6>
            <blockquote>{{ quote.quote }}</blockquote>
          {% endfor %}
        </li>
        {% endif %}
        {% if page.skills %}
        <li class="case-study-skills">
          <label>Skills</label>
          {% for skill in page.skills %}
            <h6>{{ skill.name }}</h6>
            <p>{{ skill.description }}</p>
          {% endfor %}
        </li>
        {% endif %}
        {% if page.stats %}
        <li class="case-study-stats">
          <label>stats</label>
          {% for stat in page.stats %}
            <div class="case-study-stat">
              <h6>{{ stat.number }}</h6>
              <p>{{ stat.description }}</p>
            </div>
          {% endfor %}
        </li>
        {% endif %}
      </ul>
    </aside>
    </article>
  </div>
{% include site-footer.html %}

